<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate">
    <meta name="Author" content="WebThemez">
    <title>浙江康博工程管理有限公司</title>
    <link rel="stylesheet" href="/front/css/normalize.css">
    <link rel="stylesheet" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/front/elegant_font/style.css"/>
    <!--[if lte IE 7]>
    <script src="/front/elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="/front/css/magnific-popup.css">
    <link rel="stylesheet" href="/front/css/slider-pro.css">
    <link rel="stylesheet" href="/front/css/owl.carousel.css">
    <link rel="stylesheet" href="/front/css/owl.theme.css">
    <link rel="stylesheet" href="/front/css/owl.transitions.css">
    <link rel="stylesheet" href="/front/css/animate.css">
    <link rel="stylesheet" href="/front/elegant_font/style.css">
    <link rel="stylesheet" href="/front/css/style.css">
    <link rel="shortcut icon" href="#"/>
</head>

<body>
<div th:replace="front/common/header::header"></div>
<section id="contact" class="section-wrapper contact-section" data-stellar-background-ratio="0.5">
    <div class="parallax-overlay"></div>
    <div class="container">
        <div class="row">

            <!-- Section Header -->
            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                <h2><span class="highlight-text">Contact Us</span></h2>

                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">We love feedback. Fill out the
                    form below and we'll get back to you as soon as possible. in minus distinctio dolores ipsam.</p>
            </div>
            <!-- Section Header End -->

            <div class="contact-details">


                <!-- Contact Form -->
                <div class="contact-form wow bounceInRight">

                    <!--NOTE: Update your email Id in "contact_me.php" file in order to receive emails from your contact form-->
                    <form name="sentMessage" id="contactForm" novalidate>
                        <div class="col-md-6">
                            <input type="text" class="form-control"
                                   placeholder="Full Name" id="name" required
                                   data-validation-required-message="Please enter your name"/>
                            <p class="help-block"></p>
                        </div>
                        <div class="col-md-6">
                            <input type="email" class="form-control" placeholder="Email"
                                   id="email" required
                                   data-validation-required-message="Please enter your email"/>
                        </div>

                        <div class="col-md-12">
		<textarea rows="10" cols="100" class="form-control"
                  placeholder="Message" id="message" required
                  data-validation-required-message="Please enter your message" minlength="5"
                  data-validation-minlength-message="Min 5 characters"
                  maxlength="999" style="resize:none"></textarea>
                        </div>

                        <div class="col-md-4 col-md-offset-5"><br>
                            <div id="success"></div>
                            <button type="submit" class="btn btn-primary">Submit Message</button>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</section>




<!--<div th:replace="front/common/footer::footer"></div>-->
<script src="/front/js/jquery-1.11.3.min.js"></script>
<script src="/front/js/bootstrap.min.js"></script>
<script src="/front/js/modernizr.min.js"></script>
<script src="/front/js/jquery.easing.1.3.js"></script>
<script src="/front/js/jquery.scrollUp.min.js"></script>
<script src="/front/js/jquery.easypiechart.js"></script>
<script src="/front/js/isotope.pkgd.min.js"></script>
<script src="/front/js/jquery.fitvids.js"></script>
<script src="/front/js/jquery.stellar.min.js"></script>
<script src="/front/js/jquery.waypoints.min.js"></script>
<script src="/front/js/wow.min.js"></script>
<script src="/front/js/jquery.nav.js"></script>
<script src="/front/js/imagesloaded.pkgd.min.js"></script>
<script src="/front/js/smooth-scroll.min.js"></script>
<script src="/front/js/jquery.magnific-popup.min.js"></script>
<script src="/front/js/jquery.sliderPro.min.js"></script>
<script src="/front/js/owl.carousel.min.js"></script>
<script src="/front/contact/jqBootstrapValidation.js"></script>
<script src="/front/contact/contact_me.js"></script>
<script src="/front/js/custom.js"></script>

</body>
</html>
