<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate">
    <meta name="Author" content="WebThemez">
    <title>浙江康博工程管理有限公司</title>
    <link rel="stylesheet" href="/front/css/normalize.css">
    <link rel="stylesheet" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front/css/font-awesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="/front/elegant_font/style.css"/>
    <!--[if lte IE 7]>
    <script src="/front/elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="/front/css/magnific-popup.css">
    <link rel="stylesheet" href="/front/css/slider-pro.css">
    <link rel="stylesheet" href="/front/css/owl.carousel.css">
    <link rel="stylesheet" href="/front/css/owl.theme.css">
    <link rel="stylesheet" href="/front/css/owl.transitions.css">
    <link rel="stylesheet" href="/front/css/animate.css">
    <link rel="stylesheet" href="/front/elegant_font/style.css">
    <link rel="stylesheet" href="/front/css/style.css">
    <link rel="shortcut icon" href="#"/>
</head>

<body>
<div th:replace="front/common/header::header" style="float: left"></div>

<div style="position: relative;top: 80px">
    <section class="slider-pro slider" id="slider">
        <div class="sp-slides">

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="/front/images/slider/slider-img-1.jpg" alt="Slider 1"/>

                <h1 class="sp-layer slider-text-big"
                    data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500"
                    data-hide-delay="200">
                    <span class="highlight-texts">浙江康博工程管理有限公司欢迎您!</span>
                </h1>

<!--                <p class="sp-layer"-->
<!--                   data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200"-->
<!--                   data-show-transition="left" data-hide-transition="right">-->
<!--                    地址：浙江省嘉兴市经济技术开发区新文化广场1幢1402室-->
<!--                </p>-->
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>
                <img class="sp-image" src="/front/images/slider/slider-img-2.jpg" alt="Slider 2"/>

                <h1 class="sp-layer slider-text-big"
                    data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500"
                    data-hide-delay="200">
                    <span class="highlight-texts">白洋河鸟瞰</span>
                </h1>

<!--                <p class="sp-layer"-->
<!--                   data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200"-->
<!--                   data-show-transition="left" data-hide-transition="right">-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit-->
<!--                </p>-->
            </div>
            <!-- Slides End -->

            <!-- Slides -->
            <div class="sp-slide main-slides">
                <div class="img-overlay"></div>

                <img class="sp-image" src="/front/images/slider/slider-img-3.jpg" alt="Slider 3"/>

                <h1 class="sp-layer slider-text-big"
                    data-position="center" data-show-transition="left" data-hide-transition="right" data-show-delay="1500"
                    data-hide-delay="200">
                    <span class="highlight-texts">秦山小镇鸟瞰</span>
                </h1>

<!--                <p class="sp-layer"-->
<!--                   data-position="center" data-vertical="15%" data-show-delay="2000" data-hide-delay="200"-->
<!--                   data-show-transition="left" data-hide-transition="right">-->
<!--                    Lorem ipsum dolor sit amet, consectetur adipisicing elit-->
<!--                </p>-->
            </div>
            <!-- Slides End -->

        </div>
    </section>
    <!-- Main Slider End -->
    <section id="info" class="info-section">
        <div class="container text-xs-center">
            <!-- Section Header -->
<!--            <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">-->
<!--                <h2><span class="highlight-text">Stats</span></h2>-->

<!--                <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet,-->
<!--                    consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis-->
<!--                    deserunt eos eius quisquam odio itaque.</p>-->
<!--            </div>-->
            <!-- Section Header End -->
            <div class="row wow fadeInUp" style="visibility: visible; animation-name: fadeInUp;">
                <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">

                    <i class="icon_mic_alt wow pulse" style="visibility: visible; animation-name: pulse;"></i>
                    <h4>设计项目</h4>
                    <h1 class="text-primary">500+个</h1>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">

                    <i class="icon_mug wow pulse" style="visibility: visible; animation-name: pulse;"></i>
                    <h4>高级工程师</h4>
                    <h1 class="text-primary">8人</h1>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">

                    <i class="icon_mobile wow pulse" style="visibility: visible; animation-name: pulse;"></i>
                    <h4>注册公用设备工程师</h4>
                    <h1 class="text-primary">6人</h1>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12 text-xs-center">

                    <i class="icon_lightbulb_alt wow pulse" style="visibility: visible; animation-name: pulse;"></i>
                    <h4>CAD技术出图率</h4>
                    <h1 class="text-primary">100%</h1>
                </div>
            </div>
        </div>
    </section>
</div>



<!--<div th:replace="front/common/footer::footer"></div>-->
<script src="/front/js/jquery-1.11.3.min.js"></script>
<script src="/front/js/bootstrap.min.js"></script>
<script src="/front/js/modernizr.min.js"></script>
<script src="/front/js/jquery.easing.1.3.js"></script>
<script src="/front/js/jquery.scrollUp.min.js"></script>
<script src="/front/js/jquery.easypiechart.js"></script>
<script src="/front/js/isotope.pkgd.min.js"></script>
<script src="/front/js/jquery.fitvids.js"></script>
<script src="/front/js/jquery.stellar.min.js"></script>
<script src="/front/js/jquery.waypoints.min.js"></script>
<script src="/front/js/wow.min.js"></script>
<script src="/front/js/jquery.nav.js"></script>
<script src="/front/js/imagesloaded.pkgd.min.js"></script>
<script src="/front/js/smooth-scroll.min.js"></script>
<script src="/front/js/jquery.magnific-popup.min.js"></script>
<script src="/front/js/jquery.sliderPro.min.js"></script>
<script src="/front/js/owl.carousel.min.js"></script>
<script src="/front/contact/jqBootstrapValidation.js"></script>
<script src="/front/contact/contact_me.js"></script>
<script src="/front/js/custom.js"></script>

</body>
</html>
