<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
   <meta charset="utf-8"> 
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Businnes, Portfolio, Corporate"> 
	<meta name="Author" content="WebThemez"> 
    <title>浙江康博工程管理有限公司</title>
    <link rel="stylesheet" href="/front/css/normalize.css">
    <link rel="stylesheet" href="/front/css/bootstrap.min.css">
    <link rel="stylesheet" href="/front/css/font-awesome/css/font-awesome.min.css" />
	<link rel="stylesheet" href="/front/elegant_font/style.css" />
    <!--[if lte IE 7]>
    <script src="/front/elegant_font/lte-ie7.js"></script><![endif]-->
    <link rel="stylesheet" href="/front/css/magnific-popup.css">
    <link rel="stylesheet" href="/front/css/slider-pro.css">
    <link rel="stylesheet" href="/front/css/owl.carousel.css">
    <link rel="stylesheet" href="/front/css/owl.theme.css">
    <link rel="stylesheet" href="/front/css/owl.transitions.css">
    <link rel="stylesheet" href="/front/css/animate.css">
	<link rel="stylesheet" href="/front/elegant_font/style.css">
    <link rel="stylesheet" href="/front/css/style.css">
    <link rel="shortcut icon" href="#" />
</head>

<body>
    <div th:replace="front/common/header::header"></div>
    <section id="recruit" class="pricing-section">
        <div class="container">
            <div class="row">

                <!-- Section Header -->
                <div class="col-md-12 col-sm-12 col-xs-12 section-header wow fadeInDown">
                    <h2><span class="highlight-text">Recruit</span></h2>

                    <p class="col-md-8 col-sm-10 col-xs-12 col-md-offset-2 col-sm-offset-1">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod, nam corporis quas, saepe minima error aperiam dolorum aliquam, quis deserunt eos eius quisquam odio itaque.</p>
                </div>
                <!-- Section Header End -->

                <div class="pricing-wrapper">

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInLeft hoverer">
                        <div class="pricing-titles">
                            <h2>Starter</h2>
                            <p><span>$16/</span>Month</p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>30 Tempaltes</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
                                <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow fadeInUp hoverer" data-wow-duration="1s">
                        <div class="pricing-titles">
                            <h2>Developer</h2>
                            <p><span>$69/</span>Month</p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>30 Tempaltes</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
                                <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>

                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>
                    </div>
                    <!-- Plans End -->

                    <!-- Plans -->
                    <div class="col-md-4 col-sm-4 col-xs-12 pricing-plans wow bounceInRight hoverer">
                        <div class="pricing-titles">
                            <h2>Professional</h2>
                            <p><span>$99/</span>Month</p>
                        </div>
                        <div class="pricing-service-name">
                            <ul>
                                <li>30 Tempaltes</li>
                                <li>Responsive</li>
                                <li>3 Years Hosting</li>
                                <li>100 GB Data</li>
                                <li>Unlimited Bandwidth</li>
                                <li>24/7 Support</li>
                            </ul>
                        </div>
                        <div class="bg-btn">
                            <a href="#" class="signup-btn">Get Now</a>
                        </div>


                    </div>
                    <!-- Plans End -->

                </div>
            </div>
        </div>
    </section>
    <!-- Pricing End -->

<!--    <div th:replace="front/common/footer::footer"></div>-->
    <script src="/front/js/jquery-1.11.3.min.js"></script>
    <script src="/front/js/bootstrap.min.js"></script>
    <script src="/front/js/modernizr.min.js"></script>
    <script src="/front/js/jquery.easing.1.3.js"></script>
    <script src="/front/js/jquery.scrollUp.min.js"></script>
    <script src="/front/js/jquery.easypiechart.js"></script>
    <script src="/front/js/isotope.pkgd.min.js"></script>
    <script src="/front/js/jquery.fitvids.js"></script>
    <script src="/front/js/jquery.stellar.min.js"></script>
    <script src="/front/js/jquery.waypoints.min.js"></script>
    <script src="/front/js/wow.min.js"></script>
    <script src="/front/js/jquery.nav.js"></script>
    <script src="/front/js/imagesloaded.pkgd.min.js"></script>
    <script src="/front/js/smooth-scroll.min.js"></script>
    <script src="/front/js/jquery.magnific-popup.min.js"></script>
    <script src="/front/js/jquery.sliderPro.min.js"></script>
    <script src="/front/js/owl.carousel.min.js"></script>
    <script src="/front/contact/jqBootstrapValidation.js"></script>
    <script src="/front/contact/contact_me.js"></script>
    <script src="/front/js/custom.js"></script>

</body>
</html>
